.App {
  text-align: center;
  font-family: Arial, sans-serif;
}

input{
  padding: 8px;
  margin-right: 10px;
  width: 300px;
}

button {
  padding: 8px 16px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 15px 0;
}
li a {
  font-size: 18px;
  font-weight: bold;
  color: #1a0dab;
  text-decoration: none;
}
li p {
  font-size: 14px;
  color: #4d5156;
}
button[disabled] {
  background-color: #ccc;
}
button:not([disabled]) {
  cursor: pointer;
}





